.home {
  width: 100%;
  height: 46.3rem;
  background: #696969;
  z-index: 10;
}

.main {
  position: absolute;
  margin-left: 39rem;
  margin-top: 20rem;
}

#button {
  position: relative;
  align-items: center;
  margin-left: 0.8rem;
  display: inline-block;
}

.span {
  font-weight: 100;
  text-align: center;
  margin-top: 275px;
  font-size: 3rem;
}

input {
  padding: 1rem;
  margin: 0px 0px 10px 10px;
  border: 0;
  box-shadow: 0 0 15px 4px rgba(51, 47, 47, 0.404);
  border-radius: 0.2rem;
}

input:focus {
  outline: none;
  box-shadow: 0 0 15px 4px rgba(24, 23, 23, 0.404);
}

Link {
  display: block;
}
